In [1]:
class Carro(object):
    pass

In [6]:
palio = Carro()
print(type(palio))

<class '__main__.Carro'>

In [7]:
class Estudantes:
    def __init__(self, nome, idade, nota):
        self.nome = nome
        self.idade = idade
        self.nota = nota

In [13]:
estudante1 = Estudantes("Tarik", 17, 100)
estudante2 = Estudantes("Pelé", 29, 99)
estudante3 = Estudantes("Rick", 53, 90)

In [14]:
print(estudante1.nome)
print(estudante2.nome)
print(estudante3.nome)

Tarik
Pelé
Rick

In [15]:
print(estudante1.idade)
print(estudante2.idade)
print(estudante3.idade)

17
29
53

In [16]:
print(estudante1.nota)
print(estudante2.nota)
print(estudante3.nota)

100
99
90

In [17]:
class Funcionarios:
    def __init__(self, nome, salario):
        self.nome = nome
        self.salario = salario
        
    def listFunc(self):
        print(f"O nome do funcionário é {self.nome} e o salário é R$ {str(self.salario)}")

In [18]:
func1 = Funcionarios("Obama", 20000)

In [19]:
func1.listFunc()

O nome do funcionário é Obama e o salário é R$ 20000

In [20]:
print("**** Usando atributos ****")

**** Usando atributos ****